body {
    background-color: #eaeaea;
}

#chatbotBody {
    background-color: white;
    padding: 0 !important;
    border-radius: 3px;
}

.text-white {
    color: black;
}

.full-width {
    width: 100%;
}

#chatbotMessages {
    height: 500px;
    overflow-y: scroll;
    padding-top: 1em;
    border-radius: 3px;
}

.chatbot-input {
    border-radius: 3px;
    background-color: #eaeaea;
}

.chat-bubble {
    border-radius: 3px;
    padding: 10px 1em;
    margin-top: 10px;
    color: #444 !important;
    max-width: 500px;
    font-weight: bold;
}

.bg-bot {
    background-color: #eee;
    border: 1px solid #BDBDBD;
    margin-left: 10px;
}

.bg-user {
    background-color: #E3F2FD;
    border: 1px solid #90CAF9;
    margin-right: 15px;
}

.bot-icon {
    color: #747474;
    margin-top: 15px;
    margin-right: 10px;
}

.user-icon {
    color: #42A5F5;
    margin-top: 15px;
    margin-left: 10px;
}

#userInputText {
    height: 70px;
    resize: none;
}

.bot-response-img {
    width: 100%;
    height: auto;
}

.bot-response-iframe {
    position: relative;
    height: 350px;
    min-width: 420px;
    width: 100%;
}

.chat-bot-btn {
    white-space: inherit;
}